# Ambiente virtual
.venv/

# Segredos e configuração local
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
*.egg-info/
dist/
build/

# Sistema operacional
.DS_Store

# IDEs
.idea/
.vscode/
